<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="cacheEnabled" value="true"/>
		<setting name="lazyLoadingEnabled" value="false"/>
		<setting name="aggressiveLazyLoading" value="false"/>
		<setting name="multipleResultSetsEnabled" value="true"/>
		<setting name="useColumnLabel" value="true"/>
		<setting name="useGeneratedKeys" value="true"/>
		<setting name="autoMappingBehavior" value="PARTIAL"/>
		<setting name="defaultExecutorType" value="SIMPLE"/>
		<setting name="defaultStatementTimeout" value="25"/>
		<setting name="safeRowBoundsEnabled" value="false"/>
		<setting name="mapUnderscoreToCamelCase" value="false"/>
		<setting name="autoMappingUnknownColumnBehavior" value="WARNING"/>
		<setting name="localCacheScope" value="SESSION"/>
		<setting name="jdbcTypeForNull" value="OTHER"/>
		<setting name="lazyLoadTriggerMethods" value="equals,clone,hashCode,toString"/>
		<setting name="proxyFactory" value="JAVASSIST"/>
		<setting name="defaultFetchSize" value="100"/>
		<setting name="useActualParamName" value="true"/>
		<setting name="logImpl" value="LOG4J"/>
	</settings>  
  	
	<typeAliases>
		<package name="com.mycom.products.mywebsite.core.bean"/>
	</typeAliases>
 	<typeHandlers>
		<typeHandler handler="org.apache.ibatis.type.EnumOrdinalTypeHandler" javaType="com.mycom.products.mywebsite.core.bean.config.UserBean$Gender"/>
		<typeHandler handler="org.apache.ibatis.type.EnumOrdinalTypeHandler" javaType="com.mycom.products.mywebsite.core.bean.config.ActionBean$ActionType"/>
		<typeHandler handler="org.apache.ibatis.type.EnumOrdinalTypeHandler" javaType="com.mycom.products.mywebsite.core.bean.master.StaticContentBean$FileType"/>
	</typeHandlers>
	<mappers>
		<mapper resource="mybatis/mapper/BASE.xml" />
		
		<!-- configuration mappers for application needed -->
		<mapper resource="mybatis/mapper/config/USER.xml" />
		<mapper resource="mybatis/mapper/config/ACTION.xml" />
		<mapper resource="mybatis/mapper/config/ROLE_ACTION.xml" />
		<mapper resource="mybatis/mapper/config/ROLE.xml" />
		<mapper resource="mybatis/mapper/config/USER_ROLE.xml" />
		<mapper resource="mybatis/mapper/config/LOGIN_HISTORY.xml" />
		
		<!-- master data mappers for application needed -->
		<mapper resource="mybatis/mapper/master/SETTING.xml"/>
		<mapper resource="mybatis/mapper/master/STATIC_CONTENT.xml"/>
		
		<!-- mappers for application processing -->
		
	</mappers>	
</configuration>